{
	"trailingComma": "none",
	"tabWidth": 2,
	"useTabs": true,
	"semi": false,
	"singleQuote": true,
	"jsxSingleQuote": true,
	"arrowParens": "avoid",
	"plugins": ["@trivago/prettier-plugin-sort-imports"],
	"importOrder": [
		"^react$",
		"^react/(.*)$",
		"^react-dom(.*)$",
		"^react-router-dom(.*)$",
		"<THIRD_PARTY_MODULES>",

		"^@/app/(.*)$",
		"^@/pages/(.*)$",
		"^@/widgets/(.*)$",
		"^@/features/(.*)$",
		"^@/entities/(.*)$",
		"^@/shared/(.*)$",

		"^@/store/(.*)$",
		"^@/routing/(.*)$",
		"^@/hooks/(.*)$",
		"^@/models/(.*)$",
		"^@/components/(.*)$",
		"^@/lib/(.*)$",

		"^@/(.*)$",

		"^../(.*)$",
		"^./(.*)$",

		".*\\.(css|scss)$"
	],
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true
}
