@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

$primary-color: red;
$default-font: 'Roboto', 'Arial', sans-serif;
$default-font-size: 14px;
$mobile: 480px;
$default-font-color: black;
