@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

$primary-color: red;
$default-font: 'Inter', sans-serif;
$default-font-size: 16px;
$mobile: 480px;
$default-font-color: #999aa5;
